@model Dictionary<string, int>
@{
    ViewData["Title"] = "Our shopping list";
}

<h1>@ViewData["Title"]</h1>

<table>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Key</td>
            <td>@product.Value</td>
        </tr>
    }
</table>

@await Html.PartialAsync("TimeToBuy")
