@{
    ViewData["Title"] = "Sprint13. Tasks";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p><a class="nav" asp-controller="Home" asp-action="Greetings">Greetings</a></p>
    <p><a class="nav" asp-controller="Home" asp-action="ProductInfo">Products</a></p>
    <p><a class="nav" asp-controller="Home" asp-action="SuperMarkets">Supermarkets</a></p>
    <p><a class="nav" asp-controller="Home" asp-action="ShoppingList">Shopping list</a></p>
    <p><a class="nav" asp-controller="Home" asp-action="ShoppingCart">Shopping cart</a></p>
</body>
</html>